.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0,0,0,0.4);
  cursor: pointer;
  outline: none;
  gap: 10px;
  border-radius: 10px;
  padding: 16px;
  min-width: 200px;
  transition: transform ease-in-out 200ms;

  .img {
    height: 18px;
    width: auto;
  }

  .label {
    flex: 1;
    font-size: 1rem;
    font-weight: 500;
  }

  &:disabled {
    background-color: #999;
  }
}
